   <searchMenu></searchMenu>
   <section>
        <div class="center-part-section">
          <div class="container" ng-controller="problemShowCtrl">
            <div class="center-part-section-inner">
              
              <!-- drop down menu -->
              
             <div class="row">
         <!--      <div class="col-md-3 col-sm-3 col-xs-12">
                
                <div class="left-sidebar">
                  <div id="sidebar-wrapper2">
                  <div class="search-section3">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="select-div">
                 <select class="selectpicker show-menu-arrow">
                 <option>Category</option>
                 <option>Doctors</option>
                 <option>Clients</option>
                  </select></div>
                 </div>                 
                </div>
                
              </div>


              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tags-area-div">
                  <span class="tag" ng-repeat="i in problem.tags track by $index">
                   {{i}} <i class="icon-cross72 fonix"></i>
                  </span>
                </div>
              </div></div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="blank-data-div"></div>
                </div>
              </div>
            </div>
                    
                  </div>
                  </div> -->
        
        <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 col-xs-12">
          <div class="center-part-section-inner">
           <!--  <div class="filter-section-div2">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="sort-div">
                    <i class="icon-indent2"></i>
                    <span class="newest-item">Sort by : Newest Item</span>
                    <div class="up-down-icon">
                    <i class="icon-triangle12 caret-up-icon "></i><br>
                    <i class="icon-triangle122 caret-down-icon"></i>
                  </div>
                  </div>
                 </div>
                 <div class="col-md-3 col-sm-3 col-xs-12 padding0">
                  <div class="sort-div">
                   <i class="icon-calendar calendar"></i>
                    <span>Added any date</span>
                    <div class="up-down-icon">
                    <i class="icon-triangle12 caret-up-icon "></i><br>
                    <i class="icon-triangle122 caret-down-icon"></i>
                  </div>
                  </div>
                 </div>
                 <div class="col-md-3 col-sm-3 col-xs-12">
                  <div class="sort-div">
                  <i class="icon-fallow"></i>
                  <span class="follow">Followers</span>
                  </div>
                 </div>
                </div>
              </div>
            </div> -->
            <div class="question-heading-section-div">
              <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile-comment-section2">

                  <div class="main-img-div">
                  <div class="img-div">
                  <!-- <img ng-src="{{problem.details.image.length > 0 && imageServer+'/'+ problem.details.image+'' || 'assets/img/user_img.png'}}" alt="" class="img-responsive"> -->
                    <a href="{{ problem.details.role == 'doctor' ? '/#/singledoctorInfo/'+ problem.details.userId : '/#/problemShow/'+problem._id }}">
                   <img ng-src="{{getUserImage(problem.isPrivate == 'true' ? 'user' : problem.details.role,problem.isPrivate == 'true' ? '' : problem.details.image,problem.isPrivate == 'true' ? 'Male' : problem.details.gender, problem.isPrivate == 'true' ? '' : problem.details.social_image)}}"   class="img-responsive img-class img-circle">
                    </a>
                  <p class="dr-name-para">{{ problem.isPrivate == "true" ? 'Anonymous' : problem.details.name }}</p>
                  </div>
                     
                  </div>
                  <div class="">
                  <div class="profile-content">
                  <h4 class="question-class">
                  {{problem.question}}
                  </h4>
                  </div>
                  </div>
                </div>
              </div>
              </div>
            </div>



            <!-- start page 1 content -->

            <div class="search-result-main-div2" ng-repeat="x in problem.answer track by $index">
            
              <!-- star profile section -->    
              <div class="main-comment-section">
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="profile-comment-section">
                  <div class="">
                  <a href="#" ui-sref="singledoctorInfo({id:x.repliedBy._id,val:0})">
                  <div class="main-img-div" > 
                   <div class="img-div">
                    <a href="{{ x.repliedBy.role == 'doctor' ? '/#/singledoctorInfo/'+ x.repliedBy.userId : '/#/problemShow/'+problem._id }}">
                  <img ng-src="{{getUserImage(x.repliedBy.role,x.repliedBy.image,x.repliedBy.gender,x.repliedBy.social_image)}}"   class="img-responsive img-class img-circle">
                  </a>
                  <p class="dr-name-para">{{x.repliedBy.name}}<br></p>
                  </div>
                  </div>
                  </a>
                      <div class="profile-content">
                        <p>{{x.comment}}
                        
                        </p>
                      </div>
                  </div>
                </div>
                <div class="comment">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="smile-icon-div1">
                          <div class="share-icon share_alt">
                           

                            <a id="check" title="" data-original-title="" data-placement="bottom" ispopover="true" data-toggle="popover" data-container="body" class="custom-btn myover" href="">
                            <i class="icon-sharing3"></i>
                            </a>
<!-- 
                            <div class="pop" style="display:none;">
                              <button class="btn btn-medium font-bold check" id="fb">
    <i class="icon-facebook1"></i>
  </button>
                              <button class="btn btn-medium font-bold check" id="tw">
                              <i class="icon-twitter1"></i>
                              </button>
                               <button class="btn btn-medium font-bold check" id="go">
                              <i class="icon-google1"></i>
                              </button>
                              </div> -->
                                </div>
                             <span style="display:none" class="socailbutton">
                              <button class="btn btn-medium font-bold fb"
    <button class="btn btn-medium font-bold"
    socialshare
    socialshare-provider="facebook"
    socialshare-type="feed"
    socialshare-via="145634995501895"
    socialshare-description="{{x.comment}}"
    socialshare-caption="{{x.comment}}"
    socialshare-url="{{siteUrlDocpal+'problemShow/'+x._id}}"
    socialshare-redirect-uri="https://facebook.com"
    socialshare-popup-height="400"
    socialshare-popup-width="800"
    socialshare-trigger="click" id="fb" >
    
    <i class="fa fa-facebook"></i>
  </button>

 <button class="btn btn-medium font-bold tw" 
socialshare
socialshare-provider="twitter"
socialshare-text="{{x.comment}}"
socialshare-hashtags=""
socialshare-url="{{x._id}}">
<i class="fa fa-twitter"></i>
</button>
<button class="btn btn-medium font-bold go" 
  socialshare
  socialshare-provider="google+"
  socialshare-text="720kb" 
  socialshare-description="{{x.comment}}"
  socialshare-caption="{{x.comment}}"
  socialshare-url="{{siteUrlDocpal+'problemShow/'+x._id}}"
  socialshare-popup-height="300"
  socialshare-popup-width="400"
  socialshare-trigger="click">
  <i class="fa fa-google-plus"></i>
</button>  
                </span>        
                          <div class="share-icon  share_alt">
                      
         <button class="number votenumber" ng-click="helpful(x.answerId,problem._id,x.comment,x.repliedBy._id)" ng-disabled="checkhelp(x.answerId)" ng-class="{myclass:checkhelp(x.answerId)}"><i class="icon-help  smile1 fontsize"></i></button>
                      <span class="number"  >{{x.helpcount}}</span>
                        </div>
                    
                    </div>
                    </div>
                     <div class="col-md-3 col-sm-4 col-xs-12 pull-right">
                      <div class="comment-btn-div">
                      

                        <div class="user-eye-div" >
                          
                      <button class="votenumber" ng-click="toggleModal(x.answerId,problem.details.userId,problem.question)" ng-disabled="checkloginReport(x.answerId)" data-toggle="modal" data-target="#alertmodal" ng-class="{myclass:checkloginReport(x.answerId)}"><i class="icon-report eye-icon"></i></button>
                      
                      

                     </div>
                      <div class="user-eye-div">
                        <a class="report-btn" ng-click="showFeedback($index,x.answerId)"> {{ x.feedback.length }} Reply</a>
                      </div>
                      <div class="user-eye-div" ng-show="ifOwnerProblemAnswer(x)">
                          <a ng-click="delProblemAnswer(problem._id,x.answerId); problem.answer.splice($index,1)"><i class="fa fa-trash"></i></a>
                      </div>
                      </div>
                    </div>
                  </div>
                 </div>
                </div>
                </div>
              </div>
            </div>
            <div class="text-area-div" ng-show="infoAllData.type == 'doctor' && isReplied == false">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <textarea class="form-control text-area-class" ng-model="answerText" rows="5" id="comment" placeholder="Your Answer to this problem"></textarea>
                  <input type="button" class="btn btn-primary textarea-btn" value="Reply" ng-click="addAnswer(problem._id,answerText,problem.question,problem.details.userId); followProblem(problem,true);" ng-disabled="answerText.length<=0">
                </div>
              </div>
            </div>


              <!-- end question list -->

<!-- end page 1 -->
          </div>
        </div>     
      </div>
    </div>
     <modal title="Report"  id="confirmAlert" visible="showModal">
    <form role="form">
     
      <div class="form-group">
        <label for="password">Confirm Box</label>  
      </div>
      <button class="btn btn-default" ng-click="triggerEvent()" >Yes</button>
       <button class="btn btn-default" ng-click="noTriggerEvent()">No</button>
    </form>
  </modal>
        </div>
        
        
      </section>
      <style>
     .myclass
{
 color:#1ba4aa;
}
     .socailbutton {
 position: absolute;
 width:150px;
 height: 35px;
  box-shadow: 5px 6px 5px grey;
 top:35px;
 background-color: #fff;
 border-radius: 5px;
 z-index: 9;
 text-align: center;
}
.socailbutton:after {
 
} </style>

       <script type="text/javascript">
      $(document).on('click','.myover', function(){

        $("[data-toggle = 'popover']").popover({
         html : true,
         content: function() {
        return $(this).next().html();
    }
      });  
 });
      </script>
      <script type="text/javascript">
      $("body").on('click', function (e) {
    $('[isPopover="true"]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

   $(document).on('click','#check',function(){
 //  var a = $(this).next("span").css("display","none");
 console.log("hello");
 $(".socailbutton").css("display","none");
 var a = $(this).parent().next("span").css("display","block");
 console.log(a);
//   $(this).next("span").css("display","none");
   //console.log(b);
   //$("."+a).click();
});

$("body").click( function () {
$(".socailbutton").css("display","none");
})
  
      </script>