<section>
  <div class="container-fluid">
<div class="row">
  <div class="search-section2">
                <div class="inner-search-section">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-xs-12 col-sm-4 col-lg-3">
                      <div class="stetho-icon">
                        <icon class="fa fa-stethoscope">
                        </icon>
                        
                      </div>
                    </div>
                    
                    <div class="col-md-8 col-xs-12 col-sm-7 col-lg-8">
                      
                     <div class="input-box">
                       <input type="text" placeholder="Doctors,Hospitals,Health-care and Others" class="form-control txt-box-inpt1">
                       <button class="btn search-btn1">
                         
                         <i class="fa fa-search searchy1">
                         </i>
                         
                       </button>
                     </div>
                  </div>
                  </div>


                  </div>
                  <div class="doctors-list-div">
<ul class="dr-ul">

<li  class="dr-li">
  <div class="">
<b class="number-div">256</b>
 <div class="doc-div"><a href="/">Doctors</a></div>

</div>
</li>

<li class="dr-li">
<div class="">
  <b class="number-div">256</b>
<div class="doc-div"> <a ui-sref="problemInfo">Problems</a></div>

    <i class="fa fa-caret-up up-icon"></i>
</div></li>


<li class="dr-li">
<div class="">
  <b class="number-div">256</b><br>
<div class="doc-div">labs</div>
</div>
</li>
  </ul>

</div>
                </div>
              </div>
            </div>
          </div>
              </section>


<!-- end search section -->

      
      <!-- Central Part Starts here -->
      <section>
        <div class="center-part-section">
          <div class="container">
            <div class="center-part-section-inner">
              
              <!-- drop down menu -->
              
             <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
                
                <div class="left-sidebar">
                  <div id="sidebar-wrapper2">
                  <div class="search-section3">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="select-div">
                 <select class="selectpicker show-menu-arrow">
                 <option>Category</option>
                 <option>Doctors</option>
                 <option>Clients</option>
                  </select></div>
                 </div>
                   
                    
                    
                    
                 
                </div>
                
              </div>


              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tags-area-div">
                  Tags Area
                </div>
              </div></div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="blank-data-div"></div>
                </div>

              </div>


            </div>
                    
                  </div>
                  <!-- /#sidebar-wrapper -->
                  </div>
        
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="center-part-section-inner">
            
            
            <!-- drop down menu -->
            
            <div class="filter-section-div2">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="sort-div">
                    <i class="fa fa-sort-amount-desc"></i>
                    <b>Sort by: Newest Items</b>
                  </div>
                 </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="sort-div">
                    <i class="fa fa-calendar calendar"></i>
                    <b>Added any date</b>
                    <div class="up-down-icon">
                    <i class="fa fa-caret-up "></i><br>
                    <i class="fa fa-caret-down caret-down-icon"></i>
                  </div>
                  </div>
                 </div>
                 <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="reorder-icon">
                  <i class="fa fa-reorder "></i>
                  <i class="fa fa-reorder"></i>
                </div>
                 </div>

                </div>
              </div>
            </div>
            <!-- end drop down -->
            
            <!-- start page 1 content -->
            <div class="search-result-main-div2">
              <!-- star profile section -->
              
              
              <div class="main-comment-section">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="heading-section">
                    <i class="fa fa-hand-lizard-o srvices-icon hand-lizard"></i>
                    <h4>How many accupulate treatment does it takes to relive stress?</h4></div>

                    <div class="profile-comment-section">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="img-div">
                  <img src="assets/img/Dr1.jpg" alt="" class="img-responsive border-round1"></div>
                      <div class="profile-image"></div>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="profile-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
                      </div>
                  </div>
                </div>
                <div class="comment">
                  <div class="row">
                    <div class="col-md-3">
                        <div class="smile-icon-div">
                      <i class="fa fa-smile-o smile smile1"></i><b>22</b>
                      <i class="fa fa-smile-o smile smile2"></i><b>33</b>
                    </div>
                    </div>
                    <div class="col-md-6"></div>

                    <div class="col-md-3 pull-right">
                      <div class="comment-btn-div pull-right">
                      <i class="fa fa-hand-lizard-o comment"></i><b class="number">45</b>
                      <a href="">Back</a></div>
                    </div>
                  </div>
                </div>
                </div>
                </div>
              </div>
            
              
              <!-- inner-toggle section -->         
         
            </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <textarea class="form-control" rows="5" id="comment"></textarea>
                  <input type="button" class="btn btn-primary textarea-btn" value="Reply">
                </div>
              </div>
             <!-- start comments -->
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile-comment-section2">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="img-div">
                  <img src="assets/img/Dr1.jpg" alt="" class="img-responsive border-round1"></div>
                      <div class="profile-image"></div>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="profile-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
                       
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="profile-comment-section2">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="img-div">
                  <img src="assets/img/Dr1.jpg" alt="" class="img-responsive border-round1"></div>
                      <div class="profile-image"></div>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                      <div class="profile-content">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
                       
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <!-- end commentd -->

<!-- end page 1 -->
          </div>
        </div>     
      </div>
    </div>
        </div>
        
        
      </section>