<section>
 
  <div class="container">
  <div class="Admin-section">
	<div class="row">
	<div class="center-heading">
		<h1>Hospital Panel</h1>
	</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="common-row">
				<div class="col-md-4">
				<label>Name</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Location</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Services</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Awards</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Memberships</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Abouts</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Time</label>
				</div>
				<div class="col-md-8">
				<div class="time_dropdown">
					<ul>
						<li>
							<select>
							  <option value="volvo">1</option>
							  <option value="saab">2</option>
							  <option value="mercedes">3</option>
							  <option value="audi">4</option>
							</select>
						</li>
						<li>
							<select>
							  <option value="volvo">AM</option>
							  <option value="saab">PM</option>
							</select>
						</li>
						<li>to</li>
						<li>
							<select>
							  <option value="volvo">1</option>
							  <option value="saab">2</option>
							  <option value="mercedes">3</option>
							  <option value="audi">4</option>
							</select>
						</li>
						<li>
							<select>
							  <option value="volvo">AM</option>
							  <option value="saab">PM</option>
							</select>
						</li>
					</ul>
				</div>
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-4">
				<label>Add Doctors</label>
				</div>
				<div class="col-md-8">
				<input type="text" class="form-control">
				</div>
			</div>
			<div class="common-row">
				<div class="col-md-3 col-md-offset-5 submit-btn-admin">
				<button type="button"class="btn btn-default">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
</section>