<div class="web-view-navbar">
  <ul class="nav nav-tabs custom-nav-tabs" id="myTabs">
    <li ui-sref="doctorprofile">
      <a data-toggle="tab" href="#home" class="custom-anchor-tag" id="ome" aria-expanded="true">
        <i class="icon-medical94 custom-nav-icon"></i>
        <span class="mobile-hide"> Profile</span>
      </a>
    </li>
    <li ui-sref="doctorprofileMap">
      <a data-toggle="tab" href="#menu1" class="custom-anchor-tag" id="googlemap" ng-click="setDefaultMap()">
        <i class="icon-map-pointer2 custom-nav-icon"></i>
        <span class="mobile-hide">Map Location</span>
      </a>
    </li>
    <li ui-sref="doctorprofileGallery">
      <a data-toggle="tab" href="#menu2" class="custom-anchor-tag">
        <i class="icon-photos9 custom-nav-icon"></i>
          <span class="mobile-hide">Gallery</span>
      </a>
    </li>
    <li ui-sref="doctorprofileAccount">
      <a data-toggle="tab" href="#account" class="custom-anchor-tag">
        <i class="icon-settings62 custom-nav-icon"> </i>
          <span class="mobile-hide"> Account Setting</span>
       </a>
    </li>
  </ul>
</div>