
<div style="float:left;width:100%;" class="doc_img">
<img src="assets/img/DOCPAL2.png" alt="" class="img-responsive fuller">
</div>
<div class="doc_img_info">
<!-- <img src="/assets/img/DOCPAL3.png" alt="" class="img-responsive fuller"> -->
<h2>SOME IMPORTANT FACTS ABOUT US</h2>
<div class="col-md-3">
	<div>
		<h2>256+</h2>
	</div>
	<div>
		Doctors
	</div>
</div>
<div class="col-md-3">
	<div>
		<h2>256+</h2>
	</div>
	<div>
		Hospitals 
	</div>
</div>
<div class="col-md-3">
	<div>
		<h2>256+</h2>
	</div>
	<div>
		Labs
	</div>
</div>
<div class="col-md-3">
	<div>
		<h2>256+</h2>
	</div>
	<div>
		Members
	</div>
</div>
</div>


