<style type="text/css">
    
  @-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  
  .timeline-wrapper {
    background-color: #e9eaed;
    color: #141823;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
   
  }
  
  .animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(236, 239, 241, 0.51)), color-stop(18%, rgba(236, 239, 241, 0.98)), color-stop(33%, rgba(236, 239, 241, 0.51)));
    background: -webkit-linear-gradient(left, rgba(236, 239, 241, 0.51) 8%, rgba(236, 239, 241, 0.98) 18%, rgba(236, 239, 241, 0.51) 33%);
    background: linear-gradient(to right, rgba(236, 239, 241, 0.51) 8%, rgba(236, 239, 241, 0.98) 18%, rgba(236, 239, 241, 0.51) 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
  }
.name_placeholder {
    height: 25px;
    width: calc(100% - 108px);
}
 .lang_placeholder {
    height: 20px;
    width: calc(100% - 40px);
}
.loading div{
  width:20px;
  height:20px;
  margin:3px;
}


  </style>

<div class="search-result-main-div2" >
              <!-- start profile section -->
              <div class="profile-section">

               <!--pvicon!-->
                 <div class="up-down-iconnew ng-hide" ng-show="loading[$index]">
                   <br>

                    <i class="icon-triangle12 caret-down-icon font-class remove-other green" ng-click="toggleupward($index)">

                    </i>
                  </div>
                  <!--end!-->
                  <div class="my-image-section">
                  <div class="teeth-icon">
                    <div class="nostyle changefolow" >
                    <i class="fa fa-heartbeat" style="visibility:hidden"></i>
                  </div>
                  </div>
                  <div class="img-div1">
                    <div class="animated-background img-responsive border-round" style="border-radius: 50%;
    width: 79px;
    height: 79px;border:2px solid #EEEEEE"></div>
                  </div>

                  <div class="icon-boxes">
                  <div class="web-view-navbar">
                  <ul class="nav nav-tabs loading custom-nav-tabs-new">
                    <li class="" id="eebae790-c80b-11e5-a79c-2de4c3f1e97e">
                      
                        <div class="animated-background"></div>
                  
                    </li>
                  
                  <li>
                      
                         <div class="animated-background"></div>

                    </li>
                    <li>
                      
                         <div class="animated-background"></div>
                  
                    </li>
                </ul>

              </div>
              </div>
              </div>
                
                <div class="info-section">
                  <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                      <div class="profile-intro">

                      <h3 class="name-div cap capitalize">
                     <a href="#"  class="ng-binding"> 
    <div class="animated-background name_placeholder"> </div></a>
                        </h3>
                        <div class="profile-btn" >
                        <div class="animated-background lang_placeholder"></div>
                       </div>


                       <div class="text-div capitalize">
                        
                         <div class="animated-background" style="height:14px;margin-top:4px;width:calc(100% - 210px)"></div>
                        <div class="animated-background " style="height:14px;margin-top:4px;width:calc(100% - 180px)"></div>
                        
                         <div class="animated-background " style="height:14px;margin-top:4px;width:calc(100% - 130px)"></div>
                        
                      
                      </div>                          
                      </div>                                             
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                      <div class="doctor-clinic-details">
                       <!-- new icons -->
                        <div class="doctor-details-search-result-1">
                          
                          <div class="search-result-icon-div">
                            
                           
  <div class="animated-background " style="height:15px;margin-top:4px;width:calc(100% - 1px)"></div>
                         
                          <div class="">
                             <div class="animated-background " style="height:15px;margin-top:4px;width:calc(100% - 60px)"></div>
                               <div class="animated-background " style="height:15px;margin-top:6px;width:calc(100% - 1px)"></div>
                          </div>

                        </div>
                        
                        
                        <div class="doctor-details-search-result-1"> 
                       
                          
                            <div class="animated-background " style="height:15px;margin-top:6px;width:calc(100% - 30px)"></div>
                            <div class="animated-background " style="height:15px;margin-top:6px;width:calc(100% - 1px)"></div>
                        </div>
                     
                       </div>       
                      </div>
                     </div>
                    </div>
                     
              <!-- inner-toggle section -->
