<section>
<div class="map-section">
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14027.953538438784!2d77.09670195!3d28.47989645!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1454235219289" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

 <!-- start gallery section -->
              <div class="upload-data-div">
                       <div class="">
                         <div class="col-lg-12 col-md-12 col-sm-12">
                           <div class="">
      <div id="owl-demo" class="owl-carousel" > 
    <div class="item" on-finish-render="gallaryLoaded">
    	<!-- doctors section -->
<div class="Hospital_Center_Part map_card">
             <div class="col-md-12">
  <div class="col-md-4">
    <div class="hospital-card-detail">
    <div class="profile-section">
      <div class="hospital-image-section">
        <div class="img-div1">
    <img src="assets/img/Dr1.png" alt="" class="img-responsive border-round-hospital-img 
    map-card-img"></div>
      </div>
      <div class="info-section">
        <div class="hospital-section">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hospital-profile-intro">
                <h3 class="name-div cap capitalize" >
                  <a href="#">
                    docpal
                  </a>
                </h3>
                
                <div class="text-div capitalize break-class">
                  <span>
                  {{det.speciality}}
                  </span>
                  
                  <span>
                    {{det.location.completeaddres}}
                  </span>
                  <span>
                    delhi
                  </span>
                  <span>
                    254022
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- 2nd  -->

   <div class="col-md-4">
    <div class="hospital-card-detail">
    <div class="profile-section">
      <div class="hospital-image-section">
        <div class="img-div1">
    <img src="assets/img/Dr1.png" alt="" class="img-responsive border-round-hospital-img 
    map-card-img"></div>
      </div>
      <div class="info-section">
        <div class="hospital-section">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hospital-profile-intro">
                <h3 class="name-div cap capitalize" >
                  <a href="#">
                    docpal
                  </a>
                </h3>
                
                <div class="text-div capitalize break-class">
                  <span>
                  {{det.speciality}}
                  </span>
                  
                  <span>
                    {{det.location.completeaddres}}
                  </span>
                  <span>
                    delhi
                  </span>
                  <span>
                    254022
                  </span>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--2nd-->
  <!--3rd!-->
   <div class="col-md-4">
    <div class="hospital-card-detail">
    <div class="profile-section">
      <div class="hospital-image-section">
        <div class="img-div1">
    <img src="assets/img/Dr1.png" alt="" class="img-responsive border-round-hospital-img 
    map-card-img"></div>
      </div>
      <div class="info-section">
        <div class="hospital-section">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hospital-profile-intro">
                <h3 class="name-div cap capitalize" >
                  <a href="#">
                    docpal
                  </a>
                </h3>
                
                <div class="text-div capitalize break-class">
                  <span>
                  {{det.speciality}}
                  </span>
                  
                  <span>
                    {{det.location.completeaddres}}
                  </span>
                  <span>
                    delhi
                  </span>
                  <span>
                    254022
                  </span>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--e 3rd!-->
   
              <!-- end doctor section -->
    </div>
   </div>                          
 </div>
</div>
</div>
</div>
                       <div class="">
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn theme-btn" id="show-previous-image">Previous</button>
                </div>

                <div class="col-md-8 text-justify" id="image-gallery-caption">
                    
                </div>

                <div class="col-md-2">
                  <button type="button" id="show-next-image" class="btn theme-btn">Next</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
 </div>
              <!-- end gallery section -->
              <!-- end gallery section -->
              <div id="categoryFilters">
              	<ul role="menu" class="pull-right">
              		<li role="presentation"><input type="checkbox" value="Photographer" name="category" id="label1" class="categoryClass" tabindex="-1" role="menuitem"><label for="label1"></label><span class="catName">Doctor&nbsp;</span><span id="countPhoto" class="countCat">0</span></li>

              		<li totalphotographer="" role="presentation"><input type="checkbox" value="Musician" name="category" id="label2" class="categoryClass" tabindex="-1" role="menuitem"><label for="label2"></label><span class="catName">Hospital &nbsp;</span><span id="countMusic" class="countCat">0</span></li>

              		<li role="presentation"><input type="checkbox" value="Artist" name="category" id="label3" class="categoryClass" tabindex="-1" role="menuitem"><label for="label3"></label><span class="catName">Lab &nbsp;</span><span id="countArt" class="countCat">1</span></li>
              	</ul>
              </div>


              <div class="search-section3 sec-div-map">
              <div class="row">
               <div class="">        
                 <div class="input-div">        
                  <input type="text" ng-keypress="($event.which === 13)?setFilterdata(filterData.location,'location'):0" ng-model="filterData.location" class="form-control input-box-width ng-pristine ng-valid" placeholder="Locality"> 
                  <i class="icon-geolocation crosshairs"></i>
                      <button ng-click="setFilterdata(filterData.location,'location')" class="btn search-btn2">
                         <span class="icon-search74 searchy">
                         </span>
                       </button>
                     </div>
                     </div> 
                </div> 
              </div>

               <div class="search-section3 sec-div-mapview">
              <div class="row">
               <div class="">        
                 <div class="input-div">        
                  <input type="text" ng-keypress="($event.which === 13)?setFilterdata(filterData.location,'location'):0" ng-model="filterData.location" class="form-control input-box-width ng-pristine ng-valid" placeholder="Locality"> 
                  <i class="icon-geolocation crosshairs"></i>
                      <button ng-click="setFilterdata(filterData.location,'location')" class="btn search-btn2">
                         <span class="icon-search74 searchy">
                         </span>
                       </button>
                     </div>
                     </div> 
                </div> 
              </div>
</section>
