<div class="container">
    <div class="top-div">
        <div class="full-color">
            <div class="row">
                <div class="col-md-11 col-sm-12 margin-zero">
                    <div class="whole-content">
                        <div class="headings pg-head text-center">
                            <h2>About Us</h2>
                            <div class="text-center">
                                <img src="assets/img/heart.png" alt="heart ">
                            </div>
                        </div>
                        <div class="about-details clearfix">
                            <p class="justify" ng-bind-html="about_us"></p>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>