<section>
    <div class="wrapper">
        <div class="container" ng-controller="loginCtrl">
  <div class="strip-sec">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
               
    <div class="col-md-10 col-md-offset-2">
     <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
        <div class="custom-login-section">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="header">
                 <div class="col-md-3"></div>   
                
                </div>
              </div>
                <div class="col-md-7 col-sm-12 col-xs-12 col-md-offset-2">
                    <div class="login-section login_bdy forgotSection">
                        <div class="form-section">
                            <form name="loginform" >
                            
                                <div class="one-common-row margin10">
                                 <input type="password" class="input-text-class text-class-width" placeholder="Enter New Password" name="" id="" ng-model="newPassword" required>
                                 </div>
                                      <div class="one-common-row margin10">
                                  <input type="password" class="input-text-class text-class-width" placeholder="Confirm Password" name="" id="" ng-model="confirmPassword" onchange="" required>
                                  </div>
                                  
                                            <div class="cutom-submit-btn">
                                                <input type="button" class="btn submit-btn-custom text-class-width" id="go" ng-click="updatePassword(newPassword, confirmPassword)" ng-disabled="loginform.$invalid" value="submit">

                                            </div>
                                        </form>
                                    
                                       
                                        <!--pv!-->
                                      
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</section>
<style>
.container{
  padding-left: 0;
  margin-left: 0;
}
</style>
<script>
$(document).ready(function() {
    $(".footer").css('display','none');

//    $("#go").click(function(){
//     var email = $("#email").val();
//     var isValid = isEmailValid(email);
//     alert(isValid);
// });

// function isEmailValid(email) {
// var EMAIL_REGEXP = new RegExp('^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$', 'i');
//     return EMAIL_REGEXP.test(email);
// }
});

</script>
