<section>
<style>
.container{
  padding-left: 0;
  margin-left: 0;
}
.strip {
    /*width: 178px;
    height: 600px;
    float:left;
    background-color: #fff;
    position: relative;
    left:0;
    bottom: 0;
    right: 0;
    overflow-y: auto;*/    
  }
.heading-para1 {
    color: rgb(27, 164, 170);
    font-size: 20px;

} 
.heading-para-signup1 {
    color: #5a6e6f;
    
}
.image-div1 {
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.img-div1{
  display: inline-block;
  width: 80px;
}
.user-sign-up {
    float: right;

}
</style>
<section>
    <div class="wrapper">
        <div class="container col-center" ng-controller="loginCtrl">

    <div class="col-md-10 col-center">
    <toaster-container toaster-options="{'time-out': 7000}"></toaster-container>
        <div class="custom-login-section">
            <div class="row">
    
                <div class="col-md-6 col-sm-12 col-xs-12 col-center">
                    <div class="login-section login_bdy forgotSection">
                        <div class="form-section ">
                        
                            <form  name="loginform" novalidate>
                                <input type="email" class="input-text-class text-class-width" placeholder="Enter Email Id" name="loginemail" id="email" ng-model="email" required="">
                                  
                                           
                                             <div class="cutom-submit-btn">
                                                <input type="button" class="btn submit-btn-custom text-class-width" id="go" ng-click="sendMail(email)" ng-disabled="loginform.$invalid" value="submit">

                                            </div>
                                            <!-- <a ui-sref="confirmpassword" class="forgtpass">confirm Password ?</a> -->
                                        </form>
                                    
                                       
                                        <!--pv!-->
                                    
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>

</div>

</section>
<script>
$(document).ready(function() {
    $(".footer").css('display','none');

function isEmailValid(email) {
var EMAIL_REGEXP = new RegExp('^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$', 'i');
    return EMAIL_REGEXP.test(email);
}
});

</script>
</section>