<div  id="mapModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" id="draggLocationLat">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dragg the marker to set location</h4>
      </div>
      <div class="modal-body">
        <p>
<div id="mid" style="height:400px;width:100%;display:block"></div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>