<div class="wrapper">
    <div class="container">
      <div class="center-section">
      <div class="row">
        <div class="col-md-12">
<form class="form-horizontal"  ng-submit="registeruser(registor)" >
  <fieldset>
    <div id="legend">
      <legend class="">Application Form</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Name</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge" ng-model="registor.name"> 
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="registor.email">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    
 <div class="control-group">
  <!-- date of birth -->
      <label class="control-label" for="dob">Education</label>
      <div class="controls">
        <input type="date" id="dob" name="dob" placeholder="" class="input-xlarge" ng-model="registor.education">
        <p class="help-block">Please provide your date of birth</p>
      </div>
    </div> 

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Experiance</label>
      <div class="controls">
        <input type="text" id="password" name="password" placeholder="" class="input-xlarge" ng-model="registor.experiance">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Specialisation</label>
      <div class="controls">
        <input type="text" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="registor.specialisation">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">clinic</label>
      <div class="controls">
        <input type="text" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="registor.clinic">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Timing</label>
      <div class="controls">
        <input type="text" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="registor.timing">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

     <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Distance</label>
      <div class="controls">
        <input type="text" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge" ng-model="registor.Distance">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>


     <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Awards</label>
      <div class="controls">
        <input type="text" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
    </div>
  </fieldset>
</form>
</div>
</div>
</div>
</div>
</div>