<div class="form-section">
  <!-- strip sec -->
   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
   <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12 no-col-md-2 col-sm-2 col-lg-2 col-xs-12 no-padding">
<div class="strip strip_high dr_shadow">
       <div class="image-div1">      
       <div class="img-div1">
<img class="img-responsive round-border-shadow" src="assets/img/doctor_img.png">
<p class="heading-para1">Doctor's</p><p class="heading-para-signup1">login</p>
</div>
</div>
</div></div>
   <!-- end stripsec -->
   <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 col-center">
  <div class="register_info margin_info">
    <div class="email-row">
     
      <div class="col-md-6">
        <div class="input1 input1--hoshi1 left-aling">
          <div class="genderm">
            <span class="g1">
              Gender
            </span>
            <span class="m1">
              <input type="radio" name="sex" value="male">
              <span class="g2">
                Male
              </span>
            
            <input type="radio" name="sex" value="female" >
             <span class="g2">
            Female
          </span>
        </span>
        </div>
        
      </div>
    </div>
    
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Speciality
          </span>
        </label>
      </div>
    </div>
    
  </div>
  <div class="email-row margin0">
    
    
    <div class="col-md-6">
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Experience
          </span>
        </label>
      </div>
    </div>
    
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Hospitality 
          </span>
        </label>
      </div>
    </div>
   
  
  </div>
  <div class="email-row margin0">
    
   <div class="col-md-6">
      <div class="input1 input1--hoshi1 left-aling">


         <select class="drpdwn">
          <option value="Bloodgroup">Bloodgroup</option>
       <option value="Male">B+</option>
       <option value="Female">B-</option>
       <option value="Male">AB+</option>
       <option value="Female">AB-</option>
       <option value="Male">A+</option>
       <option value="Female">A-</option>
       <option value="Male">O+</option>
       <option value="Female">O-</option>
      <select> 

      </div>
    </div>
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Date of birth
          </span>
        </label>
      </div>
    </div>
    
  
  </div>
  <div class="email-row margin0">
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Address
          </span>
        </label>
      </div>
    </div>
    
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Time zone
          </span>
        </label>
      </div>
    </div>
   
 
  </div>
  <div class="email-row margin0">
    
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            City
          </span>
        </label>
      </div>
    </div>
    
    
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            State
          </span>
        </label>
      </div>
    </div>
    
  
  </div>
  <div class="email-row margin0">
    
   
    <div class="col-md-6">
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Country
          </span>
        </label>
      </div>
    </div>
    
    
    <div class="col-md-6">
      
      
      <div class="input1 input1--hoshi1 left-aling">
        <input class="input__field1 input__field--hoshi1" type="text" id="input-4" />
        <label class="input__label1 input__label--hoshi1 input__label--hoshi1-color-1" for="input-4">
          <span class="input__label-content1 input__label-content--hoshi1">
            Zipcode
          </span>
        </label>
      </div>
    </div>
    
  </div> 
  <div class="btn-row"> 
    <div class="continue-btn-div">
      <button class="btn create-btn-continue">
        Done
      </button>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!--pv!-->
  
  <!--end pv!-->
</div>
<script> 
$(document).ready(function(){
    $(".blood_group").click(function(){
        $("#blood-group_dp").slideToggle("slow");
    });
});
</script>
